<h1>Dashboard Overview</h1>
{{ data.menu }}
<div class="users">
  {{ data.user_count }} Users
</div>
<div class="posts">
  {{ data.post_count }} Posts
</div>
<div class="comment">
  {{ data.comment_count }} Comments
</div>
<div class="likes">
  {{ data.like_count }} Likes
</div>
<div class="row">
  <div class="col-md-6">
    {{ data.top_users }}
  </div>
  <div class="col-md-6">
    {{ data.top_posts }}
  </div>
</div>


